.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.field {
  width: 50vw;
}

.content {
  display: flex;
}

.team-list {
  display: flex;
  margin-right: 200px;
  text-align: left;
  flex-direction: column;
  justify-content: space-around;
}
